http {
    port = ${REWIND_HTTP_PORT}
    address = "127.0.0.1"
}
db {
    uri = "jdbc:postgresql://localhost/{{ db_name }}"
    user = "{{ db_user }}"
    password = "{{ secrets.pg_password }}"
}

grib-storage {
    region = "eu-west-3"
    bucket = "rewind-gribs"
    key-id = "{{ shared_secrets.grib_storage.key_id }}"
    secret = "{{ shared_secrets.grib_storage.secret }}"
}

sync {
{% if sync_enabled %}
    enabled = true
{% else %}
    enabled = false
{% endif %}
    healthcheck = "{{ shared_secrets.sync_healthcheck }}"
}

