#!/bin/bash
# {{ ansible_managed }}
set -euo pipefail

DAY_PARAM=${1:-yesterday}

DAY=$(date --date="$DAY_PARAM" +'%Y%m%d')
BUCKET={{ grib_storage.bucket }}

export AWS_ACCESS_KEY_ID={{ shared_secrets.grib_storage.key_id }}
export AWS_SECRET_ACCESS_KEY={{ shared_secrets.grib_storage.secret }}
export AWS_DEFAULT_REGION={{ grib_storage.region }}

echo "* $DAY"

for i in {0..3}; do 
  HOUR=$(printf '%02i' $(expr $i \* 6))
  echo "  * $HOUR"

  NOAA_URL="http://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/gfs.${DAY}/${HOUR}/gfs.t${HOUR}z.pgrb2.1p00.f000"
  S3_PATH="s3://$BUCKET/gfs-1p00/${DAY}-${HOUR}.grib2"
  wget --no-verbose --output-document=- "$NOAA_URL" | aws s3 cp --only-show-errors - "$S3_PATH"
  echo "=> $S3_PATH"
done

